<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% load filter %}

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Confine Monitor</title>
    <link rel="icon" href="{{ STATIC_URL }}/images/confine.png" type="image/png" />


    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dataTables.fixedHeader.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dataTables.colVis.css">


</head>

<body>

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-right ">
            <h1><a href="http://{{ server_ip }}:{{ server_port }}"><img alt="Brand" src="{{ STATIC_URL }}/images/confine.png"> Confine Research Device Status</a></h1>
        </div>
    </div>
</nav>


<ul class="nav nav-pills" role="navigation">
    <!--<li><a> <img alt="Brand" src="{{ STATIC_URL }}/images/confine.png"> </a></li>-->
    <li class="active"><a href="http://{{ server_ip }}:{{ server_port }}">Home</a></li>
    <li class= "active"><a href="http://{{ server_ip }}:{{ server_port }}/visualize/ ">Visualize Node metrics over time</a></li>
    <li class= "active"><a href="http://{{ server_ip }}:{{ server_port }}/networktrace/ ">View Network map</a></li>
    <!--<li><noscript><div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: rgb(255, 255, 255);"><a style="text-decoration: none; font-size: 13px; color: rgb(0, 0, 0);"><img src="http://localtimes.info/images/countries/is.png"="" border=0="" style="border:0;margin:0;padding:0"=""> Reykjavik</a></div></noscript><script type="text/javascript" src="http://localtimes.info/clock.php?continent=Europe&country=Iceland&city=Reykjavik&cp1_Hex=000000&cp2_Hex=FFFFFF&cp3_Hex=000000&fwdt=128&ham=0&hbg=0&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=1000"></script></li>-->
</ul>


<div id="container">
    <div class="loading">
        <img src="{{ STATIC_URL }}/images/loading.gif">
    </div>
    <div class="table" style="display: none;">
        <table id="indextable" class="display compact" border="0" cellspacing="0" width="100%">
        <thead>
        <tr>

            <th>Last Seen (GMT)</th>
            <th>Name</th>
            <th>Disk Size</th>
            <th>Total CPUs</th>
            <th>CPU Usage(%)</th>
            <th>Load Avg</th>
            <th>Total Memory</th>
            <th>Memory used(%)</th>
            <th>Data Sent/Sec</th>
            <th>Data Recvd/Sec</th>
            <th>Uptime</th>
            <th>Ping Status</th>
            <th>Port Status</th>

        </tr>
        </thead>

        <tbody>
        {% for node, values in all_synthesized_values.items%}
        <tr>

            {#           <td>{{ values.serial }}</td>#}

            {% with all_values|hash:node as all_values_node%}
            <td>{{ all_values_node|hash:"last_updated" }}</td>
            {% endwith %}

            <td><a href="http://{{ server_ip }}:{{ server_port }}/nodeslivers/{{ node }} ">{{node }}</a></td>

            {% with all_values|hash:node as all_values_node%}
            <td>{{ all_values_node|hash:"disk_size" }}</td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td>{{ all_values_node| hash:"num_cpu" }}</td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/total_cpu_usage/{{ node }}/ ">{{ all_values_node|hash:"percent_usage" }}</a></td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/load_avg_1min/{{ node }}/ ">{{ all_values_node|hash:"load_avg_1min" }}</a></td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td>{{ all_values_node|hash:"total_memory" }}</td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/memory_percent_used/{{ node }}/ ">{{ all_values_node|hash:"memory_percent_used" }}</a></td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/network_total_bytes_sent_last_sec/{{ node }}/ ">{{ all_values_node|hash:"data_sent" }}</a></td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/network_total_bytes_received_last_sec/{{ node }}/ ">{{ all_values_node|hash:"data_received" }}</a></td>
            {% endwith %}

            {% with all_values|hash:node as all_values_node%}
            <td>{{ all_values_node|hash:"uptime" }}</td>
            {% endwith %}

            <td>
                {% if values.ping_status == 'Fail' %}
                <a href="http://{{ server_ip }}:{{ server_port }}/pingstatus/{{ node }} " style="color: #CC0000">{{ values.ping_status }}</a>
                {% else %}
                <a href="http://{{ server_ip }}:{{ server_port }}/pingstatus/{{ node }} ">{{ values.ping_status }}</a>
                {% endif %}

            </td>
            <td>
                {% for key, value in values.port_status.items %}

                {% if value == 'open' %}
                <span style="color: #ff0000;">port-{{ key }}:{{ value }}</span>,
                {% else %}
                port-{{ key }}:{{ value }},
                {% endif %}

                {% endfor %}
            </td>

        </tr>
        {% endfor %}



        </tbody>
    </table></div>
    </div>
</body>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}dataTables.colVis.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}dataTables.fixedHeader.js"></script>


<!--<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}DT_bootstrap.js"></script>-->

<script type="text/javascript">

    $(window).resize(function() {
        console.log($(window).height());
        $('.dataTables_scrollBody').css('height', ($(window).height() - 280));
    });


    $(document).ready(function() {

        $('#container .loading').hide();
        $('#container .table').show();

        var dataTable=$('#indextable').DataTable(
                {
                    paging: false,
                    "scrollCollapse": true,
                    "jQueryUI":       false,
//                    "sScrollY": ($(window).height() - 280),
                    columnDefs: [
                        { type: 'file-size', targets: [2] },
                        { type: 'file-size', targets: [6] },
                        { type: 'file-size', targets: [8] },
                        { type: 'file-size', targets: [9] },
                        { "visible": false, "targets": [12] }
                    ],
                    dom: 'C<"clear">lfrtip',
                    colVis: {
                        activate: "mouseover"
                    }
                }

        );
        new $.fn.dataTable.FixedHeader( dataTable );

    } );

//    window.onload=function(){
//        var tfrow = document.getElementById('indextable').rows.length;
//        var tbRow=[];
//        for (var i=1;i<tfrow;i++) {
//            tbRow[i]=document.getElementById('indextable').rows[i];
//            tbRow[i].onmouseover = function(){
//                this.style.backgroundColor = '#f3f8aa';
//            };
//            tbRow[i].onmouseout = function() {
//                this.style.backgroundColor = '#ffffff';
//            };
//        }
//    };
</script>

</html>
​
