<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Confine Monitor</title>
    <h1>Confine Research Device Status</h1>


  <script type="text/javascript" src="{{ STATIC_URL }}sorttable.js"></script>



    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages:['treemap']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable([
                ['Node', 'Parent',    'Cpu Usage'],
                ['All Nodes',    null,             0],
                ['Node-1',   'All Nodes',             0],
                ['Node-2',    'All Nodes',             0],
                ['Node-3',     'All Nodes',             0],
                ['Node-4',    'All Nodes',             0],
                ['Cpu Usage-1',    'Node-1',             10],
                ['Memory Usage-1',  'Node-1',            11],
                ['Disk Usage-1',    'Node-1',            52],
                ['Cpu Usage-2',    'Node-2',             20],
                ['Memory Usage-2',  'Node-2',            21],
                ['Disk Usage-2',    'Node-2',            62],
                ['Cpu Usage-3',    'Node-3',             30],
                ['Memory Usage-3',  'Node-3',            31],
                ['Disk Usage-3',    'Node-3',            2],
                ['Cpu Usage-4',    'Node-4',             10],
                ['Memory Usage-4',  'Node-4',            12],
                ['Disk Usage-4',    'Node-4',            52]

            ]);

            // Create and draw the visualization.
            var treemap = new google.visualization.TreeMap(document.getElementById('visualization'));
            treemap.draw(data, {
                minColor: 'red',
                midColor: '#ddd',
                maxColor: '#0d0',
                headerHeight: 15,
                fontColor: 'black',
                showScale: true});
        }


        google.setOnLoadCallback(drawVisualization);
    </script>


</head>

 <body>

    <!-- Row Highlight Javascript -->
   <script type="text/javascript">
       window.onload=function(){
           var tfrow = document.getElementById('tfhover').rows.length;
           var tbRow=[];
           for (var i=1;i<tfrow;i++) {
               tbRow[i]=document.getElementById('tfhover').rows[i];
               tbRow[i].onmouseover = function(){
                   this.style.backgroundColor = '#f3f8aa';
               };
               tbRow[i].onmouseout = function() {
                   this.style.backgroundColor = '#ffffff';
               };
           }
       };
   </script>


   <style type="text/css">
       table.sortable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
       table.sortable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
       table.sortable tr {background-color:#ffffff;}
       table.sortable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
   </style>

{#   <table id="tfhover" class="tftable" border="1">#}
        <table id="tfhover" class="sortable" border="1">
       <caption>Last updated ---- {{ all_values.1.last_updated }}</caption>
       <thead>
       <tr>
           <th>#</th>
           <th>Last Updated (GMT)</th>
           <th>Name</th>
           <th>Disk Size</th>
           <th>Number of CPUs</th>
           <th>CPU Usage(%)</th>
           <th>Load Avg-1 min</th>
           <th>Total Memory</th>
           <th>Free Memory</th>
           <th>Network Data Sent/Sec</th>
           <th>Network Data Received/Sec</th>
           <th>Uptime</th>
           <th>Ping Status</th>
           <th>Port Status</th>

       </tr>
        </thead>

       <tbody>
       {% for values in all_values %}
       <tr>
           <td>{{ values.serial }}</td>
           <td>{{ values.last_updated }}</td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/nodeslivers/{{ values.name }} ">{{ values.name }}</a></td>
           <td>{{ values.disk_size }}</td>
           <td>{{ values.num_cpu }}</td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/cpuusage/{{ values.name }} ">{{ values.percent_usage }}</a></td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/loadavg/{{ values.name }} ">{{ values.load_avg_1min }}</a></td>
           <td>{{ values.total_memory }}</td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/freemem/{{ values.name }} ">{{ values.free_mem }}</a></td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/datasent/{{ values.name }} ">{{ values.data_sent }}</a></td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/datareceived/{{ values.name }} ">{{ values.data_received }}</a></td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/uptime/{{ values.name }} ">{{ values.uptime }}</a></td>
           <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/pingstatus/{{ values.name }} ">{{ values.ping_status }}</a></td>
           <td>
               {% for key, value in values.port_status.items %}

                   {% if value == 'open' %}
                       <span style="color: #ff0000;">port-{{ key }}:{{ value }}</span>,
                   {% else %}
                       port-{{ key }}:{{ value }},
                   {% endif %}

               {% endfor %}
           </td>

       </tr>
       {% endfor %}



      </tbody>
   </table>

    <br>
    <br>
    <br>

   <div id="visualization" style="width: 600px; height: 400px;"></div>

 </body>
</html>
​