<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Confine Monitor</title>
    <center><h1>Confine Research Device Status</h1></center>
    <center><h2>Node: {{ name }}</h2></center>

    <script type="text/javascript" src="{{ STATIC_URL }}sorttable.js"></script>



    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages:['treemap']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable({{ values_graph|safe }});

            // Create and draw the visualization.
            var treemap = new google.visualization.TreeMap(document.getElementById('visualization'));
            treemap.draw(data, {

                showScale: true});
        }


        google.setOnLoadCallback(drawVisualization);
    </script>


</head>

<body>

<!-- Row Highlight Javascript -->
<script type="text/javascript">
    window.onload=function(){
        var tfrow = document.getElementById('tfhover').rows.length;
        var tbRow=[];
        for (var i=1;i<tfrow;i++) {
            tbRow[i]=document.getElementById('tfhover').rows[i];
            tbRow[i].onmouseover = function(){
                this.style.backgroundColor = '#f3f8aa';
            };
            tbRow[i].onmouseout = function() {
                this.style.backgroundColor = '#ffffff';
            };
        }
    };
</script>

<script>
    function bytesToSize(bytes) {
        var sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB'];
        if (bytes == 0) return 0;
        var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
        if (i == 0) return bytes + ' ' + sizes[i];
        return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
    };
</script>

<style type="text/css">
    table.sortable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    table.sortable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    table.sortable tr {background-color:#ffffff;}
    table.sortable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
</style>

<br>


{% if node_in_db %}
    {% if numberslivers > 0 %}

        {#   <table id="tfhover" class="tftable" border="1">#}
        <table id="tfhover" class="sortable" border="1">
            <caption><h2>Sliver Status</h2></caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Sliver Name</th>
                <th>CPU Usage</th>
                <th>Slice Name</th>
                <th>Total Memory</th>
                <th>Total Free Memory</th>
                <th>Percent Memory Used</th>


            </tr>
            </thead>

            <tbody>
            {% for values in all_values %}
                <tr>
                    <td>{{ values.serial }}</td>
                    <td>{{ values.sliver_name }}</td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slivercpuusage/{{ values.sliver_name }} ">{{ values.sliver_cpu_usage }}</a></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slice/{{ values.sliver_slice_name }} ">{{ values.sliver_slice_name }}</a></td>
                    <td>{{ values.sliver_total_memory }}</td>
                    <td>{{ values.sliver_total_memory_free }}</td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slivermemoryusage/{{ values.sliver_name }} ">{{ values.sliver_total_memory_percent_used }}</a></td>
                </tr>
            {% endfor %}



            </tbody>
        </table>

        <br>
        <br>
        <br>

        <div id="visualization" style="width: 600px; height: 400px;"></div>

    {% else %}
        <span style="color: #ff0000;"><big>No Running Slivers</big></span>

        <br>
        <br>
        <br>

    {% endif %}

    <table id="tfhover" class="sortable" border="1">
        <caption><h2>Network</h2></caption>
        <thead>
        <tr>

            <th>Interface</th>
            <th>Total Bytes Sent</th>
            <th>Bytes Sent/Second</th>
            <th>Total Bytes Received</th>
            <th>Bytes Received/Second</th>


        </tr>
        </thead>

        <tbody>

        {% for key,value in network_values.items %}
            <tr>
                <td>{{ key }}</td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ name }}.network.{{ key }}.bytes_sent/"> <script>document.write(bytesToSize({{ value.bytes_sent }}))</script> </a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ name }}.network.{{ key }}.bytes_sent_last_sec/">{{ value.bytes_sent_last_sec }}</a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ name }}.network.{{ key }}.bytes_recv/"><script>document.write(bytesToSize({{ value.bytes_recv }}))</script></a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ name }}.network.{{ key }}.bytes_recv_last_sec/">{{ value.bytes_recv_last_sec }}</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <br>
    <br>
    <br>

    <table id="tfhover" class="sortable" border="1">
        <caption><h2>Disk</h2></caption>
        <thead>
        <tr>
            <th>Partition</th>
            <th>Mount</th>
            <th>Type</th>
            <th>Total Space</th>
            <th>Free</th>
            <th>Used Space</th>
            <th>Percent Used</th>

        </tr>
        </thead>

        <tbody>

        {% for key,value in disk_values.items %}
            <tr>
                {%  if key != "size" %}
                    <td>{{ key }}</td>
                    <td>{{ value.mount }}</td>
                    <td>{{ value.type }}</td>
                    <td><script>document.write(bytesToSize({{ value.total }}))</script></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/disk/{{ name }}.disk.{{ key }}.free/"><script>document.write(bytesToSize({{ value.free }}))</script></a></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/disk/{{ name }}.disk.{{ key }}.used/"><script>document.write(bytesToSize({{ value.used }}))</script></a></td>
                    <td>{{ value.percent_usage}}</td>
                {% endif %}
            </tr>
        {% endfor %}

        </tbody>
    </table>
{% else %}
    <br>
    <br>

    <form>
        <input type="hidden" id="node" name={{ name }}>
        <input type="hidden" id="metric" name={{ metric }}>
        <input type="hidden" id="server_ip" name={{ server_ip }}>
        <input type="hidden" id="server_port" name={{ server_port }}>
    </form>

    <script type="text/javascript">
        function redirect(){

            var node = document.getElementById("node").name;
            var metric = document.getElementById("metric").name;
            var server_ip = document.getElementById("server_ip").name;
            var server_port = document.getElementById("server_port").name;
            var url = 'http://'+server_ip+':'+server_port+'/pingstatus/'+node;

            window.location = url;
        }
    </script>

    <center><span style="color: #ff0000;"><big>No Information from this Research Device has been received yet.</big></span>
    <br>
    <br>
    <span style="color: #ff0000;"><big>1) Check if the monitoring service is running on the Research Device.</big></span>
    <br>
    <span style="color: #ff0000;"><big>2) <input id="check_ping" type="button" value="Check" onclick="redirect()" /> ping status to this Research Device.</big></span>
    </center>
    <br>

{% endif %}
</body>
</html>
{% comment %} ['Node', 'Parent',    'Cpu Usage'],
    ['CPU Usage',    '',             0],
    ['Sliver1',   'CPU Usage',             10],
    ['Sliver2',    'CPU Usage',             20],
    ['Sliver3',     'CPU Usage',             40],
    ['Sliver4',    'CPU Usage',             15]{% endcomment %}