<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Confine Monitor</title>
    <h1>Confine Research Device Status</h1>


    <script type="text/javascript" src="{{ STATIC_URL }}sorttable.js"></script>



    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages:['treemap']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable({{ values_graph|safe }});

            // Create and draw the visualization.
            var treemap = new google.visualization.TreeMap(document.getElementById('visualization'));
            treemap.draw(data, {
                minColor: '#0d0',
                midColor: '#ddd',
                maxColor: 'red',
                headerHeight: 15,
                fontColor: 'black',
                showScale: true});
        }


        google.setOnLoadCallback(drawVisualization);
    </script>


</head>

<body>

<!-- Row Highlight Javascript -->
<script type="text/javascript">
    window.onload=function(){
        var tfrow = document.getElementById('tfhover').rows.length;
        var tbRow=[];
        for (var i=1;i<tfrow;i++) {
            tbRow[i]=document.getElementById('tfhover').rows[i];
            tbRow[i].onmouseover = function(){
                this.style.backgroundColor = '#f3f8aa';
            };
            tbRow[i].onmouseout = function() {
                this.style.backgroundColor = '#ffffff';
            };
        }
    };
</script>


<style type="text/css">
    table.sortable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}
    table.sortable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}
    table.sortable tr {background-color:#ffffff;}
    table.sortable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}
</style>

{#   <table id="tfhover" class="tftable" border="1">#}
<table id="tfhover" class="sortable" border="1">
    <caption>Last updated ---- {{ all_values.1.last_updated }}</caption>
    <thead>
    <tr>
        <th>#</th>
        <th>Sliver Name</th>
        <th>CPU Usage</th>
        <th>Slice Name</th>
        <th>Total Rss Memory</th>
        <th>Total Cache Memory</th>
        <th>Total Swap Memory</th>


    </tr>
    </thead>

    <tbody>
    {% for values in all_values %}
        <tr>
            <td>{{ values.serial }}</td>
            <td>{{ values.sliver_name }}</td>
            <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/slivercpuusage/{{ values.sliver_name }} ">{{ values.sliver_cpu_usage }}</a></td>
            <td><a href="http://{{ values.server_ip }}:{{ values.server_port }}/slice/{{ values.sliver_slice_name }} ">{{ values.sliver_slice_name }}</a></td>
            <td>{{ values.sliver_total_rss }}</td>
            <td>{{ values.sliver_total_cache }}</td>
            <td>{{ values.sliver_total_swap }}</td>
        </tr>
    {% endfor %}



    </tbody>
</table>

<br>
<br>
<br>

<div id="visualization" style="width: 600px; height: 400px;"></div>

</body>
</html>
{% comment %} ['Node', 'Parent',    'Cpu Usage'],
    ['CPU Usage',    '',             0],
    ['Sliver1',   'CPU Usage',             10],
    ['Sliver2',    'CPU Usage',             20],
    ['Sliver3',     'CPU Usage',             40],
    ['Sliver4',    'CPU Usage',             15]{% endcomment %}