<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Confine Monitor</title>
    <link rel="icon" href="{{ STATIC_URL }}/images/confine.png" type="image/png" />


    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}jquery.dataTables.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dataTables.fixedHeader.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}dataTables.colVis.css">


    <script type="text/javascript" src="{{ STATIC_URL }}sorttable.js"></script>



    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load('visualization', '1', {packages:['treemap']});
    </script>
    <script type="text/javascript">
        function drawVisualization() {
            // Create and populate the data table.
            var data = google.visualization.arrayToDataTable({{ values_graph|safe }});

            // Create and draw the visualization.
            var treemap = new google.visualization.TreeMap(document.getElementById('visualization'));
            treemap.draw(data, {

                showScale: true});
        }


        google.setOnLoadCallback(drawVisualization);
    </script>


    <script>
        function bytesToSize(bytes) {
            var sizes = ['B', 'K', 'M', 'G', 'T'];
            if (bytes == 0) return 0;
            var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
            if (i == 0) return bytes + ' ' + sizes[i];
            return (bytes / Math.pow(1024, i)).toFixed(1) + ' ' + sizes[i];
        };
    </script>
</head>

<body>


<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header navbar-right ">
            <h1><a href="http://{{ server_ip }}:{{ server_port }}"><img alt="Brand" src="{{ STATIC_URL }}/images/confine.png"> Confine Research Device Status</a></h1>
        </div>
    </div>
</nav>


<ul class="nav nav-pills" role="navigation">
    <!--<li><a> <img alt="Brand" src="{{ STATIC_URL }}/images/confine.png"> </a></li>-->
    <li class="active"><a href="http://{{ server_ip }}:{{ server_port }}">Home</a></li>
    <li class= "active"><a href="http://{{ server_ip }}:{{ server_port }}/visualize/ ">Visualize Node metrics over time</a></li>
    <li class= "active"><a href="http://{{ server_ip }}:{{ server_port }}/networktrace/ ">View Network map</a></li>
    <!--<li><noscript><div style="display: inline-block; padding: 2px 4px; margin: 0px 0px 5px; border: 1px solid rgb(204, 204, 204); text-align: center; background-color: rgb(255, 255, 255);"><a style="text-decoration: none; font-size: 13px; color: rgb(0, 0, 0);"><img src="http://localtimes.info/images/countries/is.png"="" border=0="" style="border:0;margin:0;padding:0"=""> Reykjavik</a></div></noscript><script type="text/javascript" src="http://localtimes.info/clock.php?continent=Europe&country=Iceland&city=Reykjavik&cp1_Hex=000000&cp2_Hex=FFFFFF&cp3_Hex=000000&fwdt=128&ham=0&hbg=0&hfg=0&sid=0&mon=0&wek=0&wkf=0&sep=0&widget_number=1000"></script></li>-->
</ul>

<center><h2>Node: {{ name }}</h2></center>




<br>


{% if node_in_db %}
    {% if numberslivers > 0 %}

        <table id="tfhover1" class="display compact" border="0" cellspacing="0" width="100%">
            <caption><h2>Sliver Status</h2></caption>
            <thead>
            <tr>
                <th>#</th>
                <th>Sliver Name</th>
                <th>Sliver IP</th>
                <th>State</th>
                <th>CPU Usage</th>
                <th>Slice Name</th>
                <th>Total Memory</th>
                <th>Total Free Memory</th>
                <th>Percent Memory Used</th>


            </tr>
            </thead>

            <tbody>
            {% for values in all_values %}
                <tr>
                    <td>{{ values.serial }}</td>
                    <td>{{ values.sliver_name }}</td>
                    <td>{{ values.sliver_ip }}</td>
                    <td>{{ values.sliver_state}}</td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slivercpuusage/{{ values.sliver_name }} ">{{ values.sliver_cpu_usage }}</a></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slice/{{ values.sliver_slice_name }} ">{{ values.sliver_slice_name }}</a></td>
                    <td>{{ values.sliver_total_memory }}</td>
                    <td>{{ values.sliver_total_memory_free }}</td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/slivermemoryusage/{{ values.sliver_name }} ">{{ values.sliver_total_memory_percent_used }}</a></td>
                </tr>
            {% endfor %}



            </tbody>
        </table>

        <br>
        <br>
        <br>

        <div id="visualization" style="width: 600px; height: 400px;"></div>

    {% else %}
        <span style="color: #ff0000;"><big>No Running Slivers</big></span>

        <br>
        <br>
        <br>

    {% endif %}



    <table id="tfhover4" class="display compact" border="0" cellspacing="0" width="100%">
        <caption><h2>Memory</h2></caption>
        <thead>
        <tr>
            <th>Type</th>
            <th>Available Memory</th>
            <th>Total Memory</th>
            <th>Free Memory</th>
            <th>Used Memory</th>
            <th>Percent Used</th>

        </tr>
        </thead>

        <tbody>

        {% for key,value in memory_values.items %}
            <tr>

                <td>{{ key }}</td>
                <td><script>document.write(bytesToSize({{ value.available }}))</script></td>
                <td><script>document.write(bytesToSize({{ value.total }}))</script></td>
                {% comment %}<td><a href="http://{{ server_ip }}:{{ server_port }}/memory/{{ nodeid }}.memory.{{ key }}.free/"><script>document.write(bytesToSize({{ value.free }}))</script></a></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/memory/{{ nodeid }}.memory.{{ key }}.used/"><script>document.write(bytesToSize({{ value.used }}))</script></a></td>{% endcomment %}
                <td><script>document.write(bytesToSize({{ value.free }}))</script></td>
                <td><script>document.write(bytesToSize({{ value.used }}))</script></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr/memory_percent_used/{{ nodeid }}/ ">{{ value.percent_used}}</a></td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

    <br>
    <br>
    <br>


    <table id="tfhover2" class="display compact" border="0" cellspacing="0" width="100%">
        <caption><h2>Network</h2></caption>
        <thead>
        <tr>

            <th>Interface</th>
            <th>Total Bytes Sent</th>
            <th>Bytes Sent/Second</th>
            <th>Total Bytes Received</th>
            <th>Bytes Received/Second</th>


        </tr>
        </thead>

        <tbody>

        {% for key,value in network_values.items %}
            <tr>
                <td>{{ key }}</td>
               {% comment %} <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ nodeid }}.network.{{ key }}.bytes_sent/"> <script>document.write(bytesToSize({{ value.bytes_sent }}))</script> </a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ nodeid }}.network.{{ key }}.bytes_sent_last_sec/">{{ value.bytes_sent_last_sec }}</a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ nodeid }}.network.{{ key }}.bytes_recv/"><script>document.write(bytesToSize({{ value.bytes_recv }}))</script></a></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/network/{{ nodeid }}.network.{{ key }}.bytes_recv_last_sec/">{{ value.bytes_recv_last_sec }}</a></td>{% endcomment %}
                <td> <script>document.write(bytesToSize({{ value.bytes_sent }}))</script> </td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr_set/network//{{ nodeid }}//{{ key }}//bytes_sent_last_sec//">{{ value.bytes_sent_last_sec }}</a></td>
                <td><script>document.write(bytesToSize({{ value.bytes_recv }}))</script></td>
                <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr_set/network//{{ nodeid }}//{{ key }}//bytes_recv_last_sec//">{{ value.bytes_recv_last_sec }}</a></td>
            </tr>
        {% endfor %}

        </tbody>
    </table>

    <br>
    <br>
    <br>

    <table id="tfhover3" class="display compact" border="0" cellspacing="0" width="100%">
        <caption><h2>Disk</h2></caption>
        <thead>
        <tr>
            <th>Partition</th>
            <th>Mount</th>
            <th>Total Space</th>
            <th>Free</th>
            <th>Used Space</th>
            <th>Percent Used</th>

        </tr>
        </thead>

        <tbody>

        {% for key,value in disk_values.items %}
            {%  if key != "size" %}
            <tr>

                    <td>{{ key }}</td>
                    <td>{{ value.mount }}</td>
                    <td><script>document.write(bytesToSize({{ value.total }}))</script></td>
                    {% comment %}<td><a href="http://{{ server_ip }}:{{ server_port }}/disk/{{ nodeid }}.disk.{{ key }}.free/"><script>document.write(bytesToSize({{ value.free }}))</script></a></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/disk/{{ nodeid }}.disk.{{ key }}.used/"><script>document.write(bytesToSize({{ value.used }}))</script></a></td>{% endcomment %}
                    <td><script>document.write(bytesToSize({{ value.free }}))</script></td>
                    <td><script>document.write(bytesToSize({{ value.used }}))</script></td>
                    <td><a href="http://{{ server_ip }}:{{ server_port }}/async_aggr_set/disk//{{ nodeid }}//{{ key }}//percent_usage//">{{ value.percent_usage}}</a></td>

            </tr>
            {% endif %}

        {% endfor %}

        </tbody>
    </table>

    <br>
    <br>

{% else %}
    <br>
    <br>

    <form>
        <input type="hidden" id="node" name={{ nodeid }}>
        <input type="hidden" id="metric" name={{ metric }}>
        <input type="hidden" id="server_ip" name={{ server_ip }}>
        <input type="hidden" id="server_port" name={{ server_port }}>
    </form>

    <script type="text/javascript">
        function redirect(){

            var node = document.getElementById("node").name;
            var metric = document.getElementById("metric").name;
            var server_ip = document.getElementById("server_ip").name;
            var server_port = document.getElementById("server_port").name;
            var url = 'http://'+server_ip+':'+server_port+'/pingstatus/'+node;

            window.location = url;
        }
    </script>

    <center><span style="color: #ff0000;"><big>No Information from this Research Device has been received yet.</big></span>
    <br>
    <br>
    <span style="color: #ff0000;"><big>1) Check if the monitoring service is running on the Research Device.</big></span>
    <br>
    <span style="color: #ff0000;"><big>2) <input id="check_ping" type="button" value="Check" onclick="redirect()" /> ping status to this Research Device.</big></span>
    </center>
    <br>

{% endif %}
</body>

<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery-1.11.1.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}bootstrap.min.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}jquery.dataTables.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}scripts.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}dataTables.colVis.js"></script>
<script type="text/javascript" language="javascript" src="{{ STATIC_URL }}dataTables.fixedHeader.js"></script>


<script type="text/javascript">

    $(window).resize(function() {
        console.log($(window).height());
        $('.dataTables_scrollBody').css('height', ($(window).height() - 280));
    });


    $(document).ready(function() {

     //   $('#container .loading').hide();
      //  $('#container .table').show();

        var dataTable1=$('#tfhover1').DataTable(
                {
                    paging: false,
                    "scrollCollapse": true,
                    "jQueryUI":       false,
//                    "sScrollY": ($(window).height() - 280),
                    dom: 'C<"clear">lfrtip',
                    colVis: {
                        activate: "mouseover"
                    }
                }

        );

        var dataTable4=$('#tfhover4').DataTable(
                {
                    paging: false,
                    "scrollCollapse": true,
                    "jQueryUI":       false,
//                    "sScrollY": ($(window).height() - 280),
                    dom: 'C<"clear">lfrtip',
                    colVis: {
                        activate: "mouseover"
                    }
                }

        );

        var dataTable2=$('#tfhover2').DataTable(
                {
                    paging: false,
                    "scrollCollapse": true,
                    "jQueryUI":       false,
                    dom: 'C<"clear">lfrtip',
                    colVis: {
                        activate: "mouseover"
                    }
                }

        );
        var dataTable3=$('#tfhover3').DataTable(
                {
                    paging: false,
                    "scrollCollapse": true,
                    "jQueryUI":       false,
                    dom: 'C<"clear">lfrtip',
                    colVis: {
                        activate: "mouseover"
                    }
                }

        );

        //new $.fn.dataTable.FixedHeader( dataTable );

    } );

</script>


</html>
{% comment %} ['Node', 'Parent',    'Cpu Usage'],
    ['CPU Usage',    '',             0],
    ['Sliver1',   'CPU Usage',             10],
    ['Sliver2',    'CPU Usage',             20],
    ['Sliver3',     'CPU Usage',             40],
    ['Sliver4',    'CPU Usage',             15]{% endcomment %}
