<!doctype html>
<html style="height: 100%; overflow:hidden">
<head>
    <title>Traceroute RD</title>

    <script src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mygraph {
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
    </style>


</head>

<body style="height: 100%; overflow:hidden" onload="draw();">
<div style="width:700px; font-size:14px;">
    - Click and drag anywhere to move canvas.
    <br />
    - Click and drag on nodes to move graph.
    <br />
    - Zoom in/out.
    <br />
    - By clicking the checkbox you can turn clustering on and off.
    <br />
    - Click on a cluster to reveal nodes.
    <br />
</div>
<br />

<p id="selection"></p>
 <label for="clustering">Enable Clustering:</label>
 <input id="clustering" type="checkbox" onChange="draw()" checked="false">
<br>

<div id="mygraph" ></div>

<script type="text/javascript">
    //var received = {'300': ['100'], '200': ['100'], 'C': ['200', '300'], '100':['200']};
    function draw(){
    var received_values = {{values|safe}};
    var received_nodes = {{nodes_py|safe}};
    var nodes = [];
    var edges = [];
    var xcor = 0;

    for (var node in  received_nodes){
        if(node == 'controller.confine-project.eu'){
            nodes.push({id:node, label:node, color: {
                background: 'yellow',
                border: 'red',
                highlight: {
                    background: 'pink',
                    border: 'red'
                }
            }

                 });
        }
        else if (received_nodes[node] == 1){
            nodes.push({id:node, label:node, color: {
                background: 'green',
                border: 'black',
                highlight: {
                    background: 'pink',
                    border: 'red'
                }
            }});

        }
        else
            nodes.push({id:node, label:node, shape : 'dot'});


    }

    for (var key in received_values){
        for (var i=0; i< received_values[key].length; i++){
            edges.push({from: key, to: received_values[key][i]});
        }
     }


    //alert (JSON.stringify(received_nodes, null, 4));
    // create a graph
    var container = document.getElementById('mygraph');
    var clusteringOn = document.getElementById('clustering').checked;
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {  navigation: false, configurePhysics:false,
        physics: {barnesHut: {centralGravity: 0.4, springLength: 21, springConstant: 0.125, damping: 0.20}},
       // clustering: true
        clustering: {
            enabled: clusteringOn
        },
        stabilize: false

        };
    var graph = new vis.Network(container, data, options);

    // add event listeners
    graph.on('select', function(params) {
        document.getElementById('selection').innerHTML = 'Selection: ' + params.nodes;
    });
    }
</script>

</body>
</html>
