<!doctype html>
<html>
<head>
    <title>Traceroute RD</title>

    <script src="http://visjs.org/dist/vis.js"></script>
    <link href="http://visjs.org/dist/vis.css" rel="stylesheet" type="text/css" />

    <style type="text/css">
        #mygraph {
            width: 100%;
            height: 100%;
            border: 1px solid lightgray;
        }
    </style>


</head>

<body>
<p id="selection"></p>
<div id="mygraph" ></div>

<script type="text/javascript">
    //var received = {'300': ['100'], '200': ['100'], 'C': ['200', '300'], '100':['200']};

    var received_values = {{values|safe}};
    var received_nodes = {{nodes_py|safe}};
    var nodes = [];
    var edges = [];
    var xcor = 0;
    for (var node in  received_nodes){
        if(node == 'controller.confine-project.eu'){
            nodes.push({id:node, label:node, x:xcor, y:xcor, color: {
                background: 'yellow',
                border: 'red',
                highlight: {
                    background: 'pink',
                    border: 'red'
                }
            }

                 });
        }
        else
            nodes.push({id:node, label:node, shape : 'dot'});


    }

    for (var key in received_values){
        for (var i=0; i< received_values[key].length; i++){
            edges.push({from: key, to: received_values[key][i]});
        }
     }


    //alert (JSON.stringify(nodes, null, 4));
    // create a graph
    var container = document.getElementById('mygraph');
    var data = {
        nodes: nodes,
        edges: edges
    };
    var options = {  navigation: false, configurePhysics:false,
        physics: {barnesHut: {centralGravity: 0, springLength: 21, springConstant: 0.125, damping: 0.20}},
        clustering: false
        {% comment %}clustering: {
            initialMaxNodes: 100,
            clusterThreshold:500,
            reduceToNodes:300,
            chainThreshold: 0.4,
            clusterEdgeThreshold: 20,
            sectorThreshold: 100,
            screenSizeThreshold: 0.2,
            fontSizeMultiplier:  4.0,
            maxFontSize: 1000,
            forceAmplification:  0.1,
            distanceAmplification: 0.1,
            edgeGrowth: 20,
            nodeScaling: {width:  1,
                height: 1,
                radius: 1},
            maxNodeSizeIncrements: 600,
            activeAreaBoxSize: 100,
            clusterLevelDifference: 2
        }{% endcomment %}

        };
    var graph = new vis.Graph(container, data, options);

    // add event listeners
    graph.on('select', function(params) {
        document.getElementById('selection').innerHTML = 'Selection: ' + params.nodes;
    });

</script>

</body>
</html>